<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390033949861-bj1o0vae8legj6s68gvmgmp2gg06plro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390033949861-bj1o0vae8legj6s68gvmgmp2gg06plro</string>
	<key>API_KEY</key>
	<string>AIzaSyAFNbGD3k3Wi-WG-_6pLX3AR6A6THkL0q0</string>
	<key>GCM_SENDER_ID</key>
	<string>390033949861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pate</string>
	<key>PROJECT_ID</key>
	<string>pate-2fcda</string>
	<key>STORAGE_BUCKET</key>
	<string>pate-2fcda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390033949861:ios:737e09e656c7f08542b94c</string>
</dict>
</plist>